
body {
    background-color:black;
}

h1 { 
    text-align: center;
    font-family: 'Helvetica Neue';
    color: white;
    text-transform: uppercase;
}
a {
    color:white;
}
#center { 
    display: block;
    margin: 0 auto;
}
.box-one {
    background-color: rgb(42, 50, 197);
    font-family: 'helvetica neue';
    font-weight: 500;
    padding: 10px 22px;
    color: white;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    width: auto;
    height: 4rem;
    min-width: 190px;
    border-radius: 1.5rem;
    border: 1px solid rgb(42, 50, 197);
}

.box-two {
    background-color: red;
    color: white;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 30px solid purple;
    margin: 50px;
}