
body {
    background-color:black;
}

h1 { 
    font-family: 'Helvetica Neue';
    background-color: rgb(107, 104, 104);
    color: white;
    text-transform: uppercase;
    font-size: 52px;
    letter-spacing: 5px;
}
a {
    color:white;
}
#center { 
    display: block;
    margin: 0 auto;
}
.box-one {
    background-color: rgb(42, 50, 197);
    font-family: 'helvetica neue';
    font-weight: 500;
    padding: 10px 22px;
    color: white;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    width: auto;
    height: 4rem;
    min-width: 190px;
    border-radius: 1.5rem;
    border: 1px solid rgb(42, 50, 197);
}

.box-two {
    background-color: red;
    color: white;
    padding: 10px;
    height: 100px;
    width: 100px;
    border-radius: 1.5rem;
    border: 1px solid purple;

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

  }

  .div {
    background: black;
    height: 150px;
    flex: 1 1 auto;
  }
  .flex-container .two {
    background: rgb(186, 14, 14);
    height: 150px;
    flex: 1 0 auto;

  }

